#secret-bg {
  width: 755px;
  height: 1000px;
  min-height: 700px;
  background-image: url("https://bogsan007-oss.github.io/img-fonts-css/secret/img/body.webp");
  background-size: 30%;       /* кирпичи уменьшены */
  background-repeat: repeat;  /* замощение */
  background-position: top left;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}
#okno {
  position: absolute;
  top: 0;          /* сверху 0 */
  left: 20px;      /* слева 20px */
  width: 300px;    /* ширина окна */
  height: auto;
  z-index: 1;
}
#okno img {
  width: 100%;
  height: auto;
  display: block;
}
#tbliza {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 400px;
  height: auto;
  z-index: 10;
  display: inline-block;   /* фиксирует ширину 300px */
  z-index: 1;
}
#tbliza img {
  width: 100%;
  height: auto;
  display: block;
}
#player-circle {
  position: absolute;
  left: 30px;     /* потом подвинем */
  bottom: 50px;   /* потом подвинем */
  width: 62px;
  height: 62px;
  z-index: 2;     /* <-- вот он, слой 2 */
}
#current-track-name {
    position: absolute;
    bottom: 120px;      /* подвинь как хочешь */
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    text-align: center;
    width: 100%;
}
#play-icon {
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 32px;   /* можно менять */
  height: 44px;  /* можно менять */
}
#play-icon img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#pause-icon {
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 32px;
    height: 44px;
    opacity: 0;
}
/* === ВИЗУАЛИЗАТОР === */
#visualizer {
  position: absolute;
  left: 100px;      /* как у тебя */
  bottom: 42px;     /* как у тебя */

  display: flex;    
  align-items: flex-end;
  gap: 2px;

  width: 260px;     /* ← добавил, чтобы влезли все столбики */
  height: 58px;     /* ← добавил, чтобы визуализатор был виден */

  z-index: 2;
  overflow: hidden; /* ← чтобы столбики не вылезали */
}

#visualizer .bar {
  width: 6px;
  height: 40px;          /* ← было 1px, поэтому не видно */
  object-fit: cover;
  display: block;

  transform-origin: bottom; /* ← чтобы росли вверх */
  opacity: 1;               /* ← чтобы не были прозрачными */
}

#dual-visualizer {
  position: absolute;
  top: 249px;
  left: 65%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  
  height: 4px; /* высота полосы */
  
}

.left-bar {
  width: 1px;
  height: 4px;
  background: #00ff00;
  transition: transform 0.05s linear;
  transform-origin: right;   /* ← растёт влево */
}

.right-bar {
  width: 1px;
  height: 4px;
  background: #00ff00;
  transition: transform 0.05s linear;
  transform-origin: left;    /* ← растёт вправо */
}

.center-gap {
  width: 2px;
  height: 2px;
}


.btn-playlist {
    position: absolute;
    width: 54px;
    height: 31px;
    /* регулируешь положение */
    left: 86px;
    bottom: -5px;
}
.playlist-box {
    position: relative;
    width: 334px;
    height: 230px;
    top: 220px;               /* вверх/вниз */
    left: 367px;              /* влево/вправо */
    overflow: hidden;
}

.playlist-bg {
    width: 100%;
    height: 100%;
	inset: 0;
    display: block;
}

/* СЛОЙ 3 — как ты и делал */
.playlist-inner {
    position: absolute;
    width: 305px;
    height: 210px;
    top: 5px;
    left: 10px;
    z-index: 3;

    overflow-y: auto;     /* вертикальный скролл */
    overflow-x: hidden;   /* не даём горизонтальному появляться */

    padding-right: 10px;  /* чтобы скролл не налезал на текст */
}
.playlist-inner {
    scrollbar-width: thin;
    scrollbar-color: #856d42 #3a2a1a;   /* Firefox */
}
/* Chrome, Edge, Safari */
.playlist-inner::-webkit-scrollbar {
    width: 10px;
}

.playlist-inner::-webkit-scrollbar-track {
    background: #3a2a1a;                /* тёмный фон дорожки */
}

.playlist-inner::-webkit-scrollbar-thumb {
    background: #856d42;                /* золотистый ползунок */
}

/* картинка внутри строки трека */
.track-icon {
    width: 26px;   /* нормальный размер */
    height: 26px;
    flex-shrink: 0; /* чтобы не сжималась */
}

/* строка трека */
.track {
    display: flex;
    align-items: center;
    gap: 14px;      /* расстояние между картинкой и текстом */
    font-size: 16px;
    font-weight: 700;
    line-height: 1.55;
    text-shadow: 0 0 3px rgba(0,0,0,0.7);
    margin-bottom: 5px;
    cursor: pointer;
}

.gold-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;

    color: #ac9061; /* чистое светлое золото */

    text-shadow:
        0 0 6px rgba(0,0,0,0.9),   /* тёмная обводка вокруг */
        0 0 6px rgba(0,0,0,0.7);   /* мягкая тень для читаемости */
}

.active-track {
    color: #ffd86b;
    text-shadow: 0 0 4px rgba(0,0,0,0.9);
}
#radio-box {
    position: absolute;
    left: 20px;          /* слева внутри родителя */
    top: 480px;          /* под окном — подгонено под твой макет */
    width: 297px;

    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    padding: 6px;
    background: rgba(0,0,0,0.35);
    border: 1px solid #c9a86a;
    border-radius: 8px;

    z-index: 2;
}

.radio-btn {
    width: 65px;
    height: 51px;
    border-radius: 6px;
    border: 1px solid #c9a86a;
    cursor: pointer;
    transition: 0.2s;
}

.radio-btn:hover {
    transform: scale(1.05);
    border-color: #e6c98a;
}
#newspaper-block {
  position: absolute;
  top: 480px;     /* твоя позиция */
  right: 5px;
  width: 400px;
  min-height: 300px;

  background: transparent;
  border: none;

  display: grid;
  grid-template-columns: 1fr 1fr; /* две колонки */
  grid-template-rows: 1fr 1fr;    /* две строки */
  gap: 0;                         /* без отступов */
}

.cell-1 {
  width: 190px;
  height: 245px;

  background-image: url('https://raw.githubusercontent.com/bogsan007-oss/img-fonts-css/main/secret/img/pravda.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(4deg);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 15px rgba(0,0,0,0.6);
}
/* Внешний блок карточки */
.cell-news {
  width: 170px;
  height: 180px;	
  position: relative;  /* позволяет двигать всё внутри */
  padding: 0px;           /* внутренние отступы */
  margin: 6px 0;          /* внешние отступы */
  text-align: center;        /* можно менять: left, center, right */
  top: 24px;                  /* можно двигать вверх/вниз */
  left: 0;                 /* можно двигать вправо/влево */
}

/* Заголовок рецепта */
.news-title {
  max-width: 160px !important;
  font-weight: bold !important;
  font-size: 16px !important;
  margin-bottom: 0px !important;

  /* Новые возможности регулировки */
  text-align: center !important;      /* left / center / right */
  position: relative !important;
  top: 0px !important;                  /* двигаем вверх/вниз */
  left: 0 !important;                 /* двигаем вправо/влево */
  padding: 2px !important;            /* внутренние отступы */
  line-height: 0,5 !important;        /* высота строки */
}

/* Картинка рецепта */
.cell-news img {
  width: 100% !important;
  max-width: 140px !important;        /* подгони под ширину газеты */
  height: 70% !important;
  border-radius: 0px !important;
  display: block !important;
  margin: 0 auto !important;

  /* Новые возможности регулировки */
  position: relative !important;
  top: 8px !important;                  /* вверх/вниз */
  left: 0 !important;                 /* вправо/влево */
  padding: 0px !important;              /* внутренние отступы */
}

.cell-2 {
  width: 190px;
  height: 245px;

  background-image: url('https://raw.githubusercontent.com/bogsan007-oss/img-fonts-css/main/secret/img/obiava.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(-2deg);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 15px rgba(0,0,0,0.6);
}
.cell-3 {
  width: 190px;
  height: 245px;

  background-image: url('https://raw.githubusercontent.com/bogsan007-oss/img-fonts-css/main/secret/img/misla.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transform: rotate(-3deg); /* лёгкий наклон влево */

  /* добавлено для текста */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

/* Заголовок */
.thought-title {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 16px;
  color: #000;
}
/* Превью мысли */
.thought-preview {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-top: 26px;
  color: #000;

  /* чтобы текст не ломал карточку */
  overflow: hidden;
  max-height: 160px;
}
.thought-modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.55);
  display: none;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(2px);
  z-index: 9999;
}

/* затемнение фона */
.thought-modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.55);
  display: none;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(2px);
  z-index: 9999;
}

/* окно в стиле газеты / секретного места */
.thought-modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.55);
  display: none;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(2px);
  z-index: 9999;
}

/* окно в стиле "Секретного места" */
.thought-modal-content {
  background: transparent; /* старая бумага */
  padding: 28px;
  width: 455px;
  height: 254px;
  max-width: 100%;
  font-size: 22px;
  line-height: 1.00;
  color: #2b2b2b;
  position: relative;
  background-image: url('https://raw.githubusercontent.com/bogsan007-oss/img-fonts-css/main/secret/img/vsplivat.webp');
  background-size: cover;
  background-repeat: no-repeat;

  animation: modalShow 0.25s ease-out;
}

/* кнопка закрытия */
.thought-close {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 26px;
  background: none;
  border: none;
  cursor: pointer;
  color: #444;
  font-family: serif;
}

/* анимация */
@keyframes modalShow {
  from {
    opacity: 0;
    transform: scale(0.92);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}



.cell-4 {
  width: 190px;
  height: 245px;

  background-image: url('https://raw.githubusercontent.com/bogsan007-oss/img-fonts-css/main/secret/img/izvestie.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 8px 15px rgba(0,0,0,0.6);
  transform: rotate(2deg); /* если хочешь лёгкий наклон */
}

