#secret-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("https://cdn.jsdelivr.net/gh/bogsan007-oss/img-fonts-css/secret/img/body.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
#okno {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 200px;
  height: auto;
  z-index: 0;
}

#okno img {
  width: 100%;
  height: auto;
  display: block;
}
#tbliza {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 200px;
  height: auto;
  z-index: 0;   /* теперь на одном уровне с окном */
}

#tbliza img {
  width: 100%;
  height: auto;
  display: block;
}
