#secret-bg {
  width: 757px;
  min-height: 100px; /* растягивается по содержимому */
  background-image: url("https://cdn.jsdelivr.net/gh/bogsan007-oss/img-fonts-css/secret/img/tbliza.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
}
