#secret-bg {
  width: 755px;
  min-height: 100px;
  background-image: url("https://bogsan007-oss.github.io/img-fonts-css/secret/img/body.webp");
  background-size: 30%;       /* кирпичи уменьшены */
  background-repeat: repeat;  /* замощение */
  background-position: top left;
  margin: 0 auto;
  position: relative;
}
