#secret-bg {
       position: relative;
       width: 757px;
       min-height: 400px;
       background-image: url('https://cdn.jsdelivr.net/gh/bogsan007-oss/img-fonts-css/secret/img/body.webp');
       background-size: 30%;
       background-position: top left;
       background-repeat: repeat;
       padding: 0px;
}
